

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>server</title>
    
    <link rel="icon" href="src/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./styles/globals/global.css">
    <script src="./scripts/globals/global.js" defer></script>
</head>
<body>
    <appbar>
        <appbar-body>
            <navlink></navlink>
            <navlink link="/users">users</navlink>
            <navlink></navlink>
        </appbar-body>
    </appbar>

    <t3>Name: </t3><%= firstName %> <%= surname %>
    <br>
    <t3>Type: </t3><%= type %>

</body>
</html>