

register-body {
    display: grid;
    width: clamp( 100px, 90%, 650px );
    margin: 5rem auto;
    border-radius: 13px;   
}

register-body > form,
card {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin: 2.5rem auto;
    padding: 2rem;
    background: #212329;
    box-shadow: #fff2 0 0 0 13px;
    border-radius: 13px;   
}

form > label {
    display: grid;
}
form > label > h4 {
    margin: .5rem 0;
}

form > label > input {
    padding: .5rem;
    border-radius: 5px;
    border: transparent;
    width: 100%;
}

hr {
    width: 100%;
}